.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 2px 2px ghostwhite;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    margin-left: 5px;
}

.navbar-container > div {
    display: flex;
}